<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%>></title>
</head>
<body>
    <%- include("header")%>
    <%- include("categories")%>
    <h1><%= title%></h1>
    <form action="/<%= category.id%>" method="POST">
        <button type="submit" onClick="return confirm('Are you sure you want to delete this category?')">Delete Category</button>
    </form>
    <ul>
        <% if(locals.food){%>
            <% food.map((product) => {%>
                
                <li>
                    <a href="/food/<%=product.id%>"><%= product.food_name%></a>
                    <a href="/food/<%=product.id%>/editProduct">Edit</a>
                </li>
            <%})%>
        <%}%>
    </ul>
</body>
</html>