<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>>
    </title>
    <link rel="stylesheet" href=/styles.css>
</head>

<body>
    <div class="body-container">
        <%- include("categories")%>

            <div class="main-container">
                <%- include("header"); -%>
                    <div class="category">
                        <h1 class="category-header">
                            <%= title%>
                        </h1>


                        <ul class="products-list">
                            <% if(locals.food){%>
                                <% food.map((product)=> {%>

                                    <li class="product">
                                        <a href="/food/<%=product.id%>">
                                            <%= product.food_name%>
                                        </a>
                                    </li>
                                    <%})%>
                                        <%}%>
                        </ul>
                        <div class="buttons">
                            <form action="/<%= category.id%>" method="POST">
                                <button class="btn-2" type="submit"
                                    onClick="return confirm('Are you sure you want to delete this category?')">Delete
                                    Category</button>
                            </form>
                            <a class="btn-2" href="/<%=category.id%>/editCategory">Edit Category</a>
                        </div>
                    </div>
            </div>
    </div>

</body>

</html>